:root {
    --body-color: #292929;
    --main-color: #1f1f1f;
}

* {
    font-family: 'Source Code Pro', monospace;
    /*transition: background 0.2s linear;*/
}

body {
    background-color: #292929;
    color: #f0f0f0;
    /*padding: 20px;*/
    transition: background 0.2s linear;
    width: 100%;
    margin: 0;
}

nav {
    background-color: #1f1f1f;
    border: solid #121212;
    box-shadow: 0 0 15px black;
    border-radius: 6px;
    padding: 20px 50px 20px 50px;
    margin: 1% 1% 2% 1%;
    overflow: auto;
    transition: background 0.2s linear;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: #1f1f1f;
    border: solid #121212;
    box-shadow: 0 0 15px black;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    /*margin: 10% 5% 10% 5%;*/
    margin: 1% 1% 1% 1%;
    overflow: auto;
    transition: background 0.2s linear;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* below code is used to center login screen */
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: 50%;*/
}

form {
    background-color: lightsteelblue;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 5px 10px;
    transition: background 0.2s linear;
    color: #1f1f1f;
    display: inline-block;
    width: 50%;
}

button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 5px 0 5px;
    /*text-transform: uppercase;*/
    transition: background 0.2s linear;
    width: 75px;
}

button:hover {
    border: solid 2px #4668a5;
    margin: 0 3px 0 3px;
    width: 79px;
}

#login-button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    /*text-transform: uppercase;*/
    transition: background 0.2s linear;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

#login-button:hover {
    border: solid 2px #4668a5;
    margin: -2px -2px 3px -2px;
}

input {
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
    width: 50%;
}

#username:hover {
    border: solid 2px #8f8f9d;
    margin: -2px -2px 3px -2px;
}

#password:hover {
    border: solid 2px #8f8f9d;
    margin: -2px -2px 3px -2px;
}

#passtoggle {
    width: auto;
    margin-bottom: 5px;
}

#remember {
    width: auto;
    margin-bottom: 5px;
}

#login-error-msg-holder {
    /*transition: all 0.1s linear;*/
    color: #1f1f1f;
    display: inline-block;
    opacity: 0;
    width: 300px;
    height: 20px;
    padding: 1% 1% 1% 1%;
}

#login-error-msg-holder.showing {
    text-align: center;
    align-items: center;
    background-color: lightcoral;
    border-radius: 6px;
    color: #1f1f1f;
    display: inline-block;
    opacity: 1;
    width: 300px;
    height: 20px;
    padding: 1% 1% 1% 1%;
}

a {
    color: #f0f0f0;
}

a:hover {

}

a:visited {
    text-decoration: none;
    /*color: #f0f0f0;*/
}

.games {
    margin: 20px 20px 20px 20px;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    /*justify-content: center;*/
    column-gap: 5%;
    align-items: center;
    width: 50%;
}

p {
    width: 20%;
}

p.status {
    color: #eeb132;
}

p.online {
    color: #6bb700;
}

p.offline {
    /*color: #bc2f49;*/
    color: #ed3e42
}

img {
    width: 64px;
    height: 64px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    min-height: 40px;
}

li {
    padding: 10px;
    word-wrap: break-word;
}

li:nth-child(even) {
    background-color: #292929;
    border-radius: 6px;
    transition: background 0.2s linear;
}

pre {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 6px;
}

pre code {
    background-color: #2b2d31;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    display: block;
    padding: 20px;
}

code {
    min-height: 10vh;
    max-height: 10vh;
    overflow: auto;
    text-align: left;
    color: #dbdee1;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color);
    background: var(--body-color);
    border: 1px solid var(--main-color);
}

#config-nav {
    padding: 0 20px 0 20px;
    margin: 1% 1% 2% 1%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#config-nav > * {
    flex: 1;
}

