:root {
    --body-color: #292929;
    --main-color: #1f1f1f;
}

* {
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: #292929;
    color: #f0f0f0;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    padding: 20px;
    transition: background 0.2s linear;
}

main {
    background-color: #1f1f1f;
    box-shadow: 3px 3px 12px black;
    border-radius: 6px;
    max-width: 90vw;
    max-height: 85vh;
    padding: 20px 20px 20px 20px;
    margin: auto auto 20px;
    overflow: auto;
    transition: background 0.2s linear;
    text-align: center;
}

form {
    background-color: lightsteelblue;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px 10px 5px 10px;
    transition: background 0.2s linear;
    color: #1f1f1f;
    display: inline-block;
    width: 50%;
}

button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    /*text-transform: uppercase;*/
    transition: background 0.2s linear;
}

input {
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
    width: 50%;
}

#passtoggle {
    width: auto;
    margin-bottom: 5px;
}

#remember {
    width: auto;
    margin-bottom: 5px;
}

#login-error-msg-holder {
    /*background-color: lightcoral;*/
    /*border-radius: 6px;*/
    /*padding: 0 20px 0 20px;*/
    /*transition: background 0.2s linear;*/
    /*color: #1f1f1f;*/
    display: none;
}

#login-error-msg-holder.showing {
    background-color: lightcoral;
    border-radius: 6px;
    padding: 0 20px 0 20px;
    transition: background 0.2s linear;
    color: #1f1f1f;
    display: inline-block;
}

/*#login {*/
/*    background-color: cornflowerblue;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    color: white;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    padding: 5px 10px;*/
/*    !*text-transform: uppercase;*!*/
/*    transition: background 0.2s linear;*/
/*    float: right;*/
/*    margin-left: 5px;*/
/*}*/

