body {
    transition: background 0.2s linear;
    width: 100%;
    margin: 0;
}

main {
    padding: 20px 20px 20px 20px;
    margin: 1% 1% 1% 1%;
    overflow: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.games {
    margin: 20px 20px 20px 20px;
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    column-gap: 10%;
    align-items: center;
    width: 50%;
}

p {
    /*width: 20%;*/
}

p.status {
    color: #eeb132;
}

p.online {
    color: #6bb700;
}

p.offline {
    color: #ed3e42
}

img {
    width: 64px;
    height: 64px;
}

li:nth-child(even) {
    /*background-color: #292929;*/
    border-radius: 6px;
}

pre {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 6px;
}

pre code {
    background-color: #2b2d31;
    border: 1px solid;
    border-radius: 6px;
    display: block;
    padding: 20px;
}

code {
    min-height: 10vh;
    max-height: 10vh;
    overflow: auto;
    text-align: left;
    color: #dbdee1;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    border: 1px solid;
}

#config-nav {
    padding: 0 20px 0 20px;
    margin: 1% 1% 2% 1%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#config-nav > * {
    flex: 1;
}
